@import "bootstrap";
@import "./variables.scss";

html,
main {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: $bg-color;
    font-weight: 100;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;

}

.main-container {
    background-color: #F7F7F7;
    height:100vh;
}

h3{
    margin-top: 20px;
    text-align: center;
    &::after{
        content: "";
        width: 100px;
        height: 10px;
        display: block;
        background-color: #fff;
        border-radius: 40px;
        margin: 5px auto;
        box-shadow: inset 1px 1px 3px #2d2d2d;
        margin-bottom: 20px;
    }
}

span{
    display: block;
}

.card{
    width: 25%;
}